/* @import url('https://fonts.googleapis.com/css2?family=Rubik+Lines&display=swap'); */

body {
  /* font-family: Rubik Lines; */
}

/* p {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  font-variant: small-caps;
} */
